.aham {
    border: 1px solid black;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    color: blue;
    
}

h1{
    margin-bottom: 5px;
}

.ba{
    border: 2px solid black;
    display: inline-block;
    padding-right: 125px;
    padding-bottom: 125px;
}

span{
    border: 2px solid black;
}

footer {
    border: 2px solid black;
    display: block;
}